<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.1.xsd 
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.1.xsd 
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-3.1.xsd 
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-3.1.xsd ">

	<!-- 加载配置文件  -->
	<context:property-placeholder location="classpath*:mqnav.properties" />

	<!-- 内销 消费方法 类 <bean id="consumer" class="com.zjs.edi.rocketmq.MessageListener.ConsumableMessageListenerConsumer"></bean> -->

	<!-- 生产端 不使用生产端 请注释掉 -->
	<bean id="mqProducer" class="com.zjs.edi.mq.service.rocketmq.MqProducer">
		<property name="instanceName" value="${MQ.InstanceName}"></property>
		<property name="namesrvAddr" value="${MQ.NamesrvAddr}"></property>
		<property name="producerGroupName" value="${MQ.ProducerGroupName}"></property>
		<property name="sendMsgTimeout" value="${MQ.SendMsgTimeout}"></property>
	</bean>

	<!-- 转发 实体消息 转译 -->
	<bean id="myForwardedMessageListConsumer"
		class="com.zjs.edi.mq.service.rocketmq.translation.myForwardedMessageListConsumer" />

	<!-- 转发 消费方法 类 -->
	<bean id="consumer"
		class="com.zjs.edi.mq.service.rocketmq.messagelistener.ForwardedMessageListConsumer">
		<property name="producer" ref="mqProducer" />
		<property name="matching">
			<list>
				<map>
					<entry key="Tag"> <!--  队列名称 -->
						<value>a</value>
					</entry>
					<entry key="body"><!-- 消息 是否包含 该字符串 -->
						<value>a</value>
					</entry>
					<entry key="Topic">	<!-- 转发的 Topic -->
						<value>orTest</value>
					</entry>
					<entry key="Tags"><!-- 转发的 Tag -->
						<value>b</value>
					</entry>
				</map>
			</list>
		</property>
		<property name="forwarded" ref="myForwardedMessageListConsumer" />
	</bean>

	<!-- 外调web服务 实体转译 -->
	<!-- <bean id="myExternalCallConsumer" class="com.zjs.edi.manage.mq.translation.myExternalCallConsumer"/> -->

	<!-- 外调web服务消费者 -->
	<!-- <bean id="consumer" class="com.zjs.edi.rocketmq.MessageListener.ExternalCallConcurrentlyStatus"> 
		<property name="matching"> <list> <map> <entry key="Tag"><value>a</value></entry> 
		<entry key="body"><value>*</value></entry> <entry key="url"><value>http://10.10.12.27:8080</value></entry> 
		</map> </list> </property> <property name="externalCall" ref="myExternalCallConsumer"></property> 
		</bean> -->

	<!-- 消费具体执行类 -->
	<bean id="defaultMessageListener" class="com.zjs.edi.mq.service.rocketmq.DefaultMessageListener">
		<property name="consumer" ref="consumer" />
		<property name="encoding" value="${MQ.Encoding}" />
		<property name="count" value="${MQ.COUNT}" />

	</bean>
	<!-- 消费端 主体 -->
	<bean class="com.zjs.edi.mq.service.rocketmq.MqConsumer" scope="prototype"
		lazy-init="true">
		<property name="consumerGroup" value="${MQ.consumerGroup}" />
		<property name="namesrvAddr" value="${MQ.NamesrvAddr}" />
		<property name="defaultMessageListener" ref="defaultMessageListener" />
	</bean>

</beans>
		