<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

	<!-- 加载配置文件 -->
	<context:property-placeholder location="classpath*:mqnav.properties" />

	<!-- 生产端 不使用生产端 请注释掉 -->
	<bean   class="com.zjs.edi.mq.service.rocketmq.MqProducer" />
 

	<!-- 转发 实体消息 转译 -->
	<bean id="myForwardedMessageListConsumer"
		class="com.zjs.edi.mq.service.rocketmq.sample.translation.myForwardedMessageListConsumer" />

	<!-- 转发 消费方法 类 名称必须是 consumer -->
	<bean id="consumer"
		class="com.zjs.edi.mq.service.rocketmq.messagelistener.ForwardedMessageListConsumer">
		<property name="producer" ref="mqProducer" />
		<!-- 对消息 的本地 处理 -->
		<property name="forwarded" ref="myForwardedMessageListConsumer" />
		<!-- <property name="baseMatching" ref=""/> --> <!-- 匹配规则 数据源 -->
		<!-- 注意 别循环了 -->
		<property name="matching">
			<list>
				<map>
					<entry key="Tag"> <!-- 队列名称 -->
						<value>a</value>
					</entry>
					<entry key="body"><!-- 消息 是否包含 该字符串 -->
						<value>a</value>
					</entry>
					<entry key="Topic">	<!-- 转发的 Topic -->
						<value>orTest</value>
					</entry>
					<entry key="Tags"><!-- 转发的 Tag -->
						<value>b</value>
					</entry>
				</map>
			</list>
		</property>
	</bean>

</beans>
		